.container {
    width: 80%;
    padding: 20px;
    background: linear-gradient(to right, #FEF0F0, #EAF2FF);
    border-style: solid;
    border-width: 2px 6px 6px 2px;
    border-color: #1f2433;
    border-radius: 10px;
}

.container .dots {
    width: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container .dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #1f2433;
    border-radius: 50%;
}

.container .content {
    background: #fff;
    border-radius: 10px;
}

.container .content .header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.container .content .header .message {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

.container .content .header .icon {
    width: 40px;
    height: 40px;
    background: #EAF2FF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid #1f2433; */
    border-radius: 50%;
    font-weight: bold;
}

.container .content .parts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .parts .part1 {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.container .content .parts .part1 .search-sort-section {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .content .parts .part1 .search-sort-section input {
    width: 80%;
    padding: 15px 10px;
    outline: none;
    border: 2px solid #f8f7fc;
    background: #f8f7fc;
    border-radius: 10px;
}

.container .content .parts .part1 .search-sort-section input::placeholder{
    color: grey;
}

.container .content .parts .part1 .search-sort-section button {
    margin: 20px 0px;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: #1f2433;
    outline: none;
    border: none;
    background: #EAF2FF;
    font-size: 18px;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
}

.container .content .parts .part1 .notices {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
    padding: 20px 40px;
}

.container .content .parts .part1 .notices::-webkit-scrollbar {
    display: none;
}

.container .content .parts .part1 .notices .notice {
    width: 100%;
    padding: 20px;
    border: 3px solid #EAF2FF;
    border-radius: 20px;
}

.container .content .parts .part1 .notices .notice .noticeheader {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 15px;
    font-size: 14px;
}

.container .content .parts .part1 .notices .notice .noticeheader .typeIcon {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 25px;
    height: 25px;
    background: #1f2433;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.container .content .parts .part1 .notices .notice .noticeheader .title {
    text-transform: capitalize;
}

.container .content .parts .part1 .notices .notice .noticeheader .publisher {
    padding: 4px 15px;
    border-radius: 30px;
    background-color: #FEF0F0;
}

.container .content .parts .part1 .notices .notice .noticetitle{
    font-size: 20px;
    margin: 15px 0px 10px 0px;
}

.container .content .parts .part1 .notices .notice .noticedesc{
    font-size: 14px;
}

.container .content .parts .part1 .notices .notice .noticefooter{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 10px; */
    font-size: 12px;
    color: grey
}

.container .content .parts .part1 .notices .notice .noticefooter .like{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border: 2px solid #EAF2FF;
    padding: 3px 5px;
    border-radius: 7px;
    cursor: pointer;
}

.container .content .parts .part1 .notices .notice .noticefooter .like .likeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: .3s;
}

.container .content .parts .part1 .notices .notice .noticefooter .like:hover{
    transform: scale(1.05);
}

.container .content .parts .part2 {
    width: 30%;
    /* background: #1f2433; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .content .parts .part2 .image{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: float 2s ease-in-out infinite; */
}

.container .content .parts .part2 .image img{
    width: 700px;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}

.active{
    background: rgba(255, 0, 0, 0.1);
    border-color: rgb(255, 0, 0, 0.2) !important;
    color: rgb(255, 0, 0) ;
}

.sort{
    background: #1f2433 !important;
    color: #fff !important;
}